/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCA37F;
}
.container {
    font-family: 'Arial', sans-serif;
    background: #FFF2D8 no-repeat;
    text-align: center;
    color: #333;
    height: 80vh;
    width: 50%;
    border-radius: 12px;
    
}

/* Style the header */
h1 {
    background: #113946;
    color: #fff;
    padding: 20px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: 2px solid #444;
    margin-bottom: 20px;
}

/* Style the input and button */
input[type="text"], button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

input[type="text"] {
    width: 36vw;
}

button {
    background: #ff6f61;
    color: #fff;
    cursor: pointer;
    transition:  0.3s;
}

button:hover {
    background: #ff402f;
}

/* Style the task list */
ul {
    list-style: none;
    padding: 0.5rem;
}

li {
    background: #fff;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.2s;
}

li:hover {
    transform: scale(1.02);
}

/* Style the delete button */
.delete {
    background: #ff402f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition:  0.3s;
}

.delete:hover {
    background: #ff0000;
}
@media (max-width:600px) {
    .container{
        width: 83vw;
    }
    input[type="text"]{
        width: 74vw;
    }
    li{
        padding: 2px 15px;
    }
    h1{
        font-size: 10vw;
    }
}
